<div class="container ">
  <div class="absolute-center">
    <div class="row">

      <div class="form-group float-label-control inputToDo">
        <!--<label>To do task: </label>-->
        <input #listToDo placeholder="Add a new themed list" (keyup.enter)="addList(listToDo .value); listToDo .value=''" class="form-control  col-sm-12 col-lg-5" id="inputList"/>
        <button type="button" class="btn btn-default btn-circle" (click)="addList(listToDo .value); listToDo .value=''"><i class="glyphicon glyphicon-menu-right"></i></button>
      </div>
    </div>
    <!--Source : https://bootsnipp.com/snippets/featured/float-label-pattern-forms-->

    <div class="row">
      <h2>My TO DO Lists</h2>
      <!--Test click outside-->
      <!--<ul class="todos list-group"/ (clickOutside)="selectedToDo=null; printMsg('outside div ul');">-->
      <ul class="todos list-group col-lg-6 col-sm-12 col-md-12">
        <li *ngFor="let ltd of ToDoManager" class="list-group-item" [class.selected]="ltd === selectedListToDo" (click)="onSelect(ltd);" (keyup.enter)="onSelect(ltd);" tabindex="0"> <!--When td === selectedTodo then li selected element is of CSS class "selected" -->
          <!--<span class="box">{{td.id}}</span>-->


          <!--Edit list name-->


            <div *ngIf="ltd.isAllDone==true" >
              <del> <span class="listTDName" id="listDone">{{ltd.name | uppercase}} {{ltd.isAllDone}}</span></del>
            </div>
            <div *ngIf="ltd.isAllDone==false">
              <span class="listTDName">{{ltd.name | uppercase}} {{ltd.isAllDone}}</span>
            </div>
          <div *ngIf="isEditListName!= true">
            <button class="edit btn btn-info btn-circle blue-gradient " (click)="isEditListName=true;"> <i class="glyphicon glyphicon-edit"></i> </button>
            <button type="button" class="btn btn-danger btn-circle remove " (click)="deleteList(ltd);  $event.stopPropagation()"> <i class="glyphicon glyphicon-trash "></i>  </button>
          </div>

          <!--<div *ngIf="selectedListToDo==ltd">-->
            <!--<div *ngIf="ltd.isAllDone" >-->
              <!--<del> <span class="listTDName" id="listDone">{{ltd.name | uppercase}}</span></del>-->
            <!--</div>-->
            <!--<div *ngIf="!ltd.isAllDone">-->
              <!--<span class="listTDName">{{ltd.name | uppercase}}</span>-->
            <!--</div>-->
          <!--</div>-->
          <div *ngIf="isEditListName==true && selectedListToDo==ltd " class="clickOnEdit">
            <input #listTD placeholder="{{ltd.name}}" (keyup.enter)="edit(listTD.value); selectedListToDo=null; $event.stopPropagation()" (keyup.esc)="selectedListToDo=null;" id="clickOnEdit"/>
            <button class="edit btn btn-success btn-circle" (click)="edit(listTD.value); selectedListToDo=null; isEditListName=true; $event.stopPropagation()"> <i class="glyphicon glyphicon-ok"></i> </button>
            <button type="button" class="btn btn-danger btn-circle remove" (click)="deleteList(ltd); $event.stopPropagation()"> <i class="glyphicon glyphicon-trash "></i>  </button>
          </div>

          <div *ngIf="selectedListToDo == ltd" class="col-lg-5 TDlist pull-right" id="todos">
           <app-to-dos [listToDo]="selectedListToDo" [listName]="selectedListToDo.name"></app-to-dos>
          </div>
        </li>
      </ul>
    </div>
    <!--<div *ngIf="selectedListToDo != null" id="todos">-->
      <!--<app-to-dos [listToDo]="selectedListToDo"></app-to-dos>-->
    <!--</div>-->

  </div>
</div>

