<div class="container ">
  <div class="absolute-center">
    <div class="row">


      <div class="form-group float-label-control inputToDo">
        <!--<label>To do task: </label>-->
        <input #listToDo placeholder="Add a new list" (keyup.enter)="addList(listToDo .value); listToDo .value=''" class="form-control  col-sm-12"/>
        <button type="button" class="btn btn-default btn-circle" (click)="addList(listToDo .value); listToDo .value=''"><i class="glyphicon glyphicon-menu-right"></i></button>
      </div>
    </div>
    <!--Source : https://bootsnipp.com/snippets/featured/float-label-pattern-forms-->

    <!--<div class="row">-->
      <!--<h2>My To Dos</h2>-->
      <!--&lt;!&ndash;Test click outside&ndash;&gt;-->
      <!--&lt;!&ndash;<ul class="todos list-group"/ (clickOutside)="selectedToDo=null; printMsg('outside div ul');">&ndash;&gt;-->
      <!--<ul class="todos list-group">-->
        <!--<li *ngFor="let td of todos" class="list-group-item" [class.selected]="td === selectedToDo" (click)="onSelect(td)" tabindex="0"> &lt;!&ndash;When td === selectedTodo then li selected element is of CSS class "selected" &ndash;&gt;-->
          <!--<input type="checkbox"[(ngModel)]="td.IsCompleted" class="custom-checkbox" />-->

          <!--&lt;!&ndash;<span class="box">{{td.id}}</span>&ndash;&gt;-->

          <!--<span>{{td.task}}</span>-->
          <!--<div *ngIf="selectedToDo == td" class="clickOnEdit">-->
            <!--<input #tdtask placeholder="{{td.task}}" (keyup.enter)="edit(tdtask.value); selectedToDo=null;" (keyup.esc)="selectedToDo=null;" id="clickOnEdit"/>-->
            <!--<button class="edit btn btn-success btn-circle" (click)="edit(tdtask.value); selectedToDo=null; $event.stopPropagation()"> <i class="glyphicon glyphicon-ok"></i> </button>-->
            <!--<button type="button" class="btn btn-danger btn-circle remove" (click)="delete(td); $event.stopPropagation()"> <i class="glyphicon glyphicon-trash "></i>  </button>-->
          <!--</div>-->
          <!--<div *ngIf="selectedToDo == null">-->
            <!--<button class="edit btn btn-info btn-circle blue-gradient"> <i class="glyphicon glyphicon-edit"></i> </button>-->
            <!--<button type="button" class="btn btn-danger btn-circle remove" (click)="delete(td); $event.stopPropagation()"> <i class="glyphicon glyphicon-trash "></i>  </button>-->

          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->

  </div>
</div>

