<div class="container">
  <h2>My To Dos</h2>

  <div class="row">
    <div class="form-group float-label-control">
      <!--<label>To do task: </label>-->
        <input #todoTask placeholder="What do you want to do?" (keyup.enter)="add(todoTask.value); todoTask.value=''" class="form-control"/>
      <button type="button" class="btn btn-default btn-circle" (click)="add(todoTask.value); todoTask.value=''"><i class="glyphicon glyphicon-menu-right"></i></button>
    </div>
  </div>
<!--Source : https://bootsnipp.com/snippets/featured/float-label-pattern-forms-->

  <div class="row">
  <ul class="todos list-group">
    <li *ngFor="let td of todos" class="list-group-item" [class.selected]="td === selectedToDo" (click)="onSelect(td)" tabindex="0"> <!--When td === selectedTodo then li selected element is of CSS class "selected" -->
      <input type="checkbox"[(ngModel)]="td.IsCompleted" />

      <!--<span class="box">{{td.id}}</span>-->

      <span>{{td.task}} {{td.IsCompleted}}</span>
      <div *ngIf="selectedToDo == td" class="clickOnEdit">
        <input #tdtask placeholder="{{td.task}}" (keyup.enter)="edit(tdtask.value); selectedToDo=null;" (keyup.esc)="selectedToDo=null;" class="clickOnEdit"/>
        <button type="button" class="btn btn-danger btn-circle remove" (click)="delete(td); $event.stopPropagation()"> <i class="glyphicon glyphicon-trash "></i>  </button>
      </div>
      <div *ngIf="selectedToDo == null">
      <button class="edit btn btn-info btn-circle" (click)="edit(td);"> <i class="glyphicon glyphicon-edit"></i> </button>
        <button type="button" class="btn btn-danger btn-circle remove" (click)="delete(td); $event.stopPropagation()"> <i class="glyphicon glyphicon-trash "></i>  </button>

      </div>
    </li>
  </ul>
  </div>

  <div class="row">
    <div class="col-sm-8">
    <ul class="todos list-group">
      <li *ngFor="let td of todos" class="list-group-item" [class.selected]="td === selectedToDo" (click)="onSelect(td)" tabindex="0"> <!--When td === selectedTodo then li selected element is of CSS class "selected" -->
        <input type="checkbox"[(ngModel)]="td.IsCompleted" />

        <span class="box">{{td.id}}</span>

        <span>{{td.task}} {{td.IsCompleted}}</span>
        <div *ngIf="selectedToDo == td" class="clickOnEdit">
          <input #tdtask placeholder="{{td.task}}" (keyup.enter)="edit(tdtask.value); selectedToDo=null;" (keyup.esc)="selectedToDo=null;" class="clickOnEdit"/>
          <button class="delete" (click)="delete(td); $event.stopPropagation()">x</button>
        </div>
        <button class="delete" (click)="delete(td); $event.stopPropagation()">x</button>
        <div *ngIf="selectedToDo == null">
          <button class="edit" (click)="edit(td);">edit</button>
        </div>
      </li>
    </ul>
    </div>
  </div>

  <!--[todo] = todo property of app-todo-detail component -> binded to the element selectedToDo-->
  <!-- <=> [todo] is a target binding property => must be input property in app-todo-detail component-->
  <!--<app-todo-detail-update [todo]="selectedToDo"></app-todo-detail-update>-->

  <div *ngIf="selectedToDo">
    <h2>
      {{selectedToDo.task| uppercase}}
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
</div>
