<div class="container ">
  <!--Center the list-->
  <div class="absolute-center">

    <!--Show the list name of the list & number of todos & number of done todos -->
    <!-- If a list has been selected then "listName" != empty string '' -->
      <!--Then show list information-->
  <div class="row">
    <div *ngIf="listName != ''" class="listName">
      <h2>{{listName}}</h2>
      <!-- Only show list information if the list has elements -->
      <div *ngIf="todos.length>0 && todos.length != countNotDone()">
      <p>{{todos.length}} todos and {{countNotDone()}} remaining todos</p>
      </div>
    </div>

    <div class="form-group float-label-control inputToDo">
      <!--<label>To do task: </label>-->
      <input #todoTask placeholder="What do you want to do?"
             (keyup.enter)="add(todoTask.value); todoTask.value=''; isAllDone(false);" class="form-control "/>
      <button type="button" class="btn btn-default btn-circle"
              (click)="add(todoTask.value); todoTask.value=''; isAllDone(false);">
        <i class="glyphicon glyphicon-menu-right"></i>
      </button>
    </div>

  <ul class="list-group col-lg-8 col-sm-2" id="tdCheckbox">
    <li *ngFor="let td of todos" class="list-group-item"(keyup.enter)="onSelect(td);"
        (keyup.esc)="selectedToDo=null;" tabindex="0">
      <input type="checkbox"[(ngModel)]="td.IsCompleted"
             (click)="editChecked(td); isAllDone(true);" class="custom-checkbox" />
    </li>
  </ul>

    <ul class="todos list-group col-lg-8 col-sm-5">
      <!--When td === selectedTodo then li selected element is of CSS class "selected" -->
      <li *ngFor="let td of todos" class="list-group-item" [class.selected]="td === selectedToDo"
        (click)="onSelect(td);" (keyup.enter)="onSelect(td);" (keyup.esc)="selectedToDo=null;" tabindex="0">

      <div *ngIf="td.IsCompleted">
       <del><span id="TDCompleted">{{td.task}}</span> </del>
      </div>
      <div *ngIf="!td.IsCompleted">
        <span>{{td.task}}</span>
      </div>
      <div *ngIf="selectedToDo == td" class="clickOnEdit">
          <input #tdtask placeholder="{{td.task}}"
                 (keyup.enter)="this.selectedToDo.task=tdtask.value; edit(selectedToDo);
                      selectedToDo=null; $event.stopPropagation()"
                 (keyup.esc)="selectedToDo=null;" id="clickOnEdit" />
          <button class="edit btn btn-success btn-circle"
                  (click)="this.selectedToDo.task=tdtask.value; edit(selectedToDo);
                      selectedToDo=null; $event.stopPropagation()">
            <i class="glyphicon glyphicon-ok"></i>
          </button>

          <button type="button" class="btn btn-danger btn-circle remove"
                  (click)="deleteToDo(selectedToDo);  $event.stopPropagation()">
            <i class="glyphicon glyphicon-trash "></i>
          </button>
      </div>
      <div *ngIf="selectedToDo == null">
      <button class="edit btn btn-info btn-circle blue-gradient"> <i class="glyphicon glyphicon-edit"></i> </button>
        <button type="button" class="btn btn-danger btn-circle remove"
                (click)="deleteToDo(td);  $event.stopPropagation()">
          <i class="glyphicon glyphicon-trash "></i>
        </button>

      </div>
    </li>
  </ul>
  </div>

</div>
</div>

