h1 {
  color: #387cb4;
  font-family: hsFont, Arial, Helvetica, sans-serif;
  font-size: 275%;
}
h2, h3 {
  color: #387cb4;
  font-family: hsFont, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
input[text], button {
  color: #888;
  font-family: Calligraffiti, Arial, Helvetica, sans-serif;
}
a {
  cursor: pointer;
  cursor: hand;
}
/*button {*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*background-color: #eee;*/
  /*border: none;*/
  /*padding: 5px 10px;*/
  /*border-radius: 4px;*/
  /*cursor: pointer;*/
  /*cursor: hand;*/
/*}*/
/*button:hover {*/
  /*background-color: #cfd8dc;*/
/*}*/
/*button:disabled {*/
  /*background-color: #eee;*/
  /*color: #aaa;*/
  /*cursor: auto;*/
/*}*/

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

li {
  font-family: Calligraffiti, Arial, Helvetica, sans-serif;
  border-radius: 4px;
}
span{
  font-family: Calligraffiti, Arial, Helvetica, sans-serif;
  font-size: medium;
  color: #51565e;
  font-weight: normal ;

}
/* everywhere else */
* {
  font-family: Calligraffiti, Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: hsFont;
  src: url('hsFont.otf');
}

@font-face {
  font-family: Calligraffiti;
  src: url('Calligraffiti.ttf');
}

body{
  background-image: url('bgGreenLinen.png');
}
