h1 {
  color: #387cb4;
  font-family: hsFont, Arial, Helvetica, sans-serif;
  font-size: 275%;
}
h2, h3 {
  color: #387cb4;
  font-family: hsFont, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
input[text], button {
  color: #888;
  font-family: Calligraffiti, Arial, Helvetica, sans-serif;
}
a {
  cursor: pointer;
  cursor: hand;
}

li {
  font-family: Calligraffiti, Arial, Helvetica, sans-serif;
  border-radius: 4px;
}
span{
  font-family: Calligraffiti, Arial, Helvetica, sans-serif;
  font-size: medium;
  color: #51565e;
  font-weight: normal ;

}
/* everywhere else */
* {
  font-family: Calligraffiti, Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: hsFont;
  src: url('hsFont.otf');
}

@font-face {
  font-family: Calligraffiti;
  src: url('Calligraffiti.ttf');
}

body{
  background-image: url('bgGreenLinen.png');
}
